.logo-image {
  width: 20em;
  opacity: 0.8;

  @media (max-width: 480px) {
    width: 15em;
  }
}

.student-name {
  color: #e37779;
  font-size: 4em;
  font-weight: 300;
  margin-bottom: 1rem;

  @media (max-width: 480px) {
    font-size: 3em;
  }

  @media (max-width: 360px) {
    font-size: 2.5em;
  }
}

.last-name {
  font-weight: 800;
}

.page-title {
  color: #905c5d;
  text-transform: uppercase;
  font-size: 2.0rem;
  letter-spacing: 10px;
  word-spacing: 5px;
  display: inline-block;
  padding: 0.5em 0;
  position: relative;

  @media (max-width: 360px) {
    font-size: 1.5rem;
  }

  &::before, &::after {
    content: '';
    width: 98%;
    height: 1px;
    background-color: #905c5d;
    position: absolute;
    left: 0;
  }

  &::before {
    top: -1px;
  }

  &::after {
    bottom: -1px;
  }
}

.career-path {
  color: #4d5b5e;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-size: 2rem;
  line-height: 1.5;

  @media (max-width: 360px) {
    font-size: 1.4rem;
    line-height: 1.4;
  }

  &:last-of-type {
    padding-bottom: 3rem;
  }
}

.article-title {
  text-transform: capitalize;
  padding: 2rem 0;
  font-size: 3rem;
  word-spacing: 3px;
  letter-spacing: 1px;

  @media (max-width: 360px) {
    font-size: 2.5rem;
  }
}

.featured-image {
  max-width: 100%;
}

.thesis {
  &__section {
    padding-top: 2rem;

    &__heading {
      font-size: 2.4rem;
      text-transform: capitalize;
    }

    &__content {
      text-align: justify;
    }
  }
}

.join-team-form {
  margin-bottom: 5rem;

  &__title {
    color: #e6787a;
    text-transform: capitalize;
    font-size: 2.6rem;
    padding: 2.5rem 0 0;
    margin: 0;
  }
}
