
body {
	text-align: center;
	color: #fff;
	background: #011217;
	font-size: 1.8em;
	line-height: 1.8;
}

* {
	box-sizing: border-box;
}


// utility class

.separator {
  position: relative;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  

  &::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 70%;
    height: 3px;
    background-color: #94ADB2;
    transform: translateX(-50%);
  }
 }

/*
.separator--low-spacing {
	margin-bottom: .8rem;
	padding-bottom: .8rem;
}
*/


.separator--top {
	position: relative;
  margin-top: .8rem;
  padding-top: .8rem;
  
  &::after {
	  content: '';
	  position: absolute;
	  bottom: 100%;
	  left: 50%;
	  width: 70%;
	  height: 1px;
	  background-color: #3C2B2F;
	  transform: translateX(-50%);
}

}

.separator-bottom--thin {
    margin-bottom: .8rem;
    padding-bottom: .8rem;
    
	&::before {
		 
		  height: 1px;
		  background-color: #3C2B2F;
		
	}
}
















// Logo styles 


.logo-image__container {
}

.logo-image {
	margin: 0 auto;
	width: 20em;
	opacity: 0.8;
}



// Primary header styles

.primary-header {

}


.student-name {
	color: #E37779;
	font-size: 4em;
	font-weight: 100;
	font-family: sans-serif;
}


.last-name {
	font-family: serif;
	font-weight: 800;
}

.primary-header__h2 {
	color: #905c5d;
	text-transform: uppercase;
	font-size: 2.0rem;
	letter-spacing: 10px;
	word-spacing: 5px;
	display: inline-block;
	padding: 0.5em 0;
	position: relative;

	&::before, &::after {
		content: '';
		width: 98%;
		height: 1px;
		background-color: #905c5d;
		position: absolute;
		left: 0;
	}

	&::before {
		top: -1px;
	}

	&::after {
		bottom: -1px;
	}
}


.career-path {
	color: #4D5B5E;
	margin: 0; padding: 0;
	text-transform: capitalize;
	font-size: 2rem;
	line-height: 1.5;
	
	&:last-of-type {
		padding-bottom: 3rem;
	}
}



//  main section title 

.article-title {
	text-transform: capitalize;
	padding: 2rem 0;
	font-size: 3.5rem;
}




// Featured Image section 

.featured-bg-image {
  position: relative;
  background-color: #222222;
  color: white;
  min-height: 500px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  border-radius: 10px;
}

.featured-bg-image:before {
  content: '';
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: .35;
}


.article-image::before {
	  background-image: url(../images/help_bg_image_new.jpg);
	

}


//  removes the opacity from the background images
.featured-bg-image--color::before {
	
 opacity: 1;
}



.article-title {
	color: #AEBEC1;
	word-spacing: 3px;
	margin: 0 auto;
	max-width: 800px;
	font-size: 3rem;
	letter-spacing: 1px;
	
}



// main section styles


.main-section {
	
}

 .main-section__sub-section {
	 color: #aebfc3;
	padding-top: 2rem;
	

}



.main-section__sub-section h4 {
	font-size: 2.4rem;
	text-transform: capitalize;
	color: currentColor;
}

.main-section__sub-section p {
	text-align: left;
	color: currentColor;
}




// Team list 

.contributers-container {
	padding-top: 2rem;
}

.contributers {
	color: #494E4E;
	font-size: 1.8rem;
	text-transform: capitalize;
	border-top: 1px solid #2A3E43;
	border-bottom: 1px solid #2A3E43;
	padding: 1rem 0;
}

.contributers__span {
	color: #636566;
}

.name__link {
	color: #494E4E;
	text-decoration: none;
	transition: color .2s ease;
	padding: 10px 0;
	
	&:hover {
		color: #fff;
	}
}



//  Primary footer styling 

.primary-footer__header {
	color: #E6787A;
	text-transform: capitalize;
	font-size: 2.6rem;
	padding: 20px 0;
	padding-bottom: 25px;
	
}


.footer-form__input.footer-form__input {
	
	color: #506D71;
	background: transparent;
	font-size: 1.9rem;
	width: 90%;
	height: 60px;
	border: none;
	padding-left: 15px;
}


.form-button {
	
	color: #000;
	width: 90%;
	height: 60px;
	font-size: 1.5rem;
	padding-left: 15px;
}



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #506D71;
  
}
::-moz-placeholder { /* Firefox 19+ */
  color: #506D71;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #506D71;
}
:-moz-placeholder { /* Firefox 18- */
  color: #506D71;
}




/* Animation for Footer  */














@keyframes reveal  {
	0% {
		mask-position: 0%; 
	}
	
	25% {
		mask-position: 100%; 
	}
}



