<div class="eui-grid__row">
  <div class="eui-grid__column eui-grid__col-size-12-of-12">
    <h4 class="join-team-form__title">{{mailChimpFormTitle}}</h4>
  </div>
</div>
<form action="" class="formScanner" onsubmit="return false">
  <div class="eui-grid__row">
    <div class="eui-grid__column eui-grid__col-size-4-of-12 eui-grid__offset-by-2-col">
      <div class="formScanner__inputContainer">
        <input type="text" class="formScanner__input" required tabindex="1" placeholder="First Name"/>
      </div>
    </div>
    <div class="eui-grid__column eui-grid__col-size-4-of-12">
      <div class="formScanner__inputContainer">
        <input type="text" class="formScanner__input" required tabindex="2" placeholder="Last Name"/>
      </div>
    </div>
  </div>
  <div class="eui-grid__row">
    <div class="eui-grid__column eui-grid__col-size-4-of-12 eui-grid__offset-by-2-col">
      <div class="formScanner__inputContainer">
        <input type="email" class="formScanner__input" required tabindex="3" placeholder="Email"/>
      </div>
    </div>
    <div class="eui-grid__column eui-grid__col-size-4-of-12">
      <div class="formScanner__submitContainer">
        <input type="submit" class="formScanner__submit" tabindex="4" value="I would like to help"/>
      </div>
    </div>
  </div>
</form>
