<section class="u-full-width  article-title">
    <div class="container">
        <h3 class="article-title">{{title}}</h3>
    </div>
</section>
<section class="u-full-width u-max-full-width featured-bg-image article-image">
    <img src="{{featuredImage}}">
</section>