<div class="eui-grid__row">
  <div class="eui-grid__column eui-grid__col-size-12-of-12">
    <h3 class="article-title">{{title}}</h3>
  </div>
</div>
<div class="eui-grid__row">
  <div class="eui-grid__column eui-grid__col-size-12-of-12">
    <img src="{{featuredImage}}" class="featured-image">
  </div>
</div>