<div class="eui-grid__row thesis__section">
  <div class="eui-grid__column eui-grid__col-size-12-of-12">
    {{#if heading}}
      <h4 class="thesis__section__heading">{{heading}}</h4>
    {{/if}}

    {{#if content}}
      <div class="thesis__section__content">
        {{{replaceNewLineFeeds content}}}
      </div>
    {{/if}}
  </div>
</div>