<div class="row twelve columns">
    <h1 class="student-name">{{fullName}}</h1>
</div>

<div class="row twelve columns">
    {{#each careerPathsAndGradDates}}
        <p class="career-path">{{.}}</p>
    {{/each}}
</div>