<div class="eui-grid__row">
  <div class="eui-grid__column eui-grid__col-size-12-of-12">
    {{#isTeamProject teamProject}}
      <div class="team-list-container">
        <p class="team-list-container__title">Team</p>
        <div class="team-list">
          {{#each team}}
            <div class="team__member">
              <div class="team__member-name">{{this.firstName}} {{this.lastName}}</div>
              {{> teamMemberInfo}}
            </div>
          {{/each}}
        </div>
      </div>
    {{/isTeamProject}}
  </div>
</div>